* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary: #213448;
  --secondry: #547792;
  --tertiary: #94b4c1;
  --color: #ecefca;
}

.loader {
  z-index: 9999;
  background-color: #fffa;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

body {
  background-color: var(--color);
}

.logo {
  align-content: center;
  gap: 1rem;
  display: flex;
}

.logo h1 {
  color: var(--color);
  font-family: Agbalumo, system-ui;
  font-size: 2.5rem;
  font-weight: 300;
}

.logo img {
  border-radius: 10px;
  width: 80px;
  height: 80px;
}

.nav ul {
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.nav li {
  list-style: none;
}

.nav li button {
  color: var(--primary);
  cursor: pointer;
  background-color: #0000;
  border: none;
  font-size: 1rem;
  transition: all .4s;
}

.nav li button:hover {
  color: var(--color);
  transform: translateY(-7px);
}

.top-container {
  background-color: var(--primary);
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  height: 300px;
  padding: 1rem;
}

.main-container {
  width: 90%;
  margin: auto;
  position: relative;
  bottom: 150px;
}

.nav {
  background-color: var(--tertiary);
  padding: 1rem 0;
}

.search-container {
  flex-basis: 50%;
}

.search-container * {
  padding: .5rem;
  font-size: .8rem;
}

.search-container input, .search-container button {
  background-color: var(--tertiary);
  color: #fff;
  border: 1px solid #0000;
  border-radius: 5px;
  outline: none;
}

.search-container input {
  border: 1px solid #0000;
  border-radius: 5px;
  width: 70%;
}

.search-container button {
  color: var(--primary);
  border: 1px solid #0000;
  border-radius: 5px;
}

.search-container input:focus {
  border: 1px solid #e0d6d6;
}

.search-container button:hover {
  background-color: var(--color);
}

.headlines {
  background-color: #fff;
  flex-wrap: wrap;
  justify-content: space-between;
}

.headlines > div {
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  display: flex;
}

.headline-primary {
  flex-basis: 60%;
  min-width: 350px;
}

.headline-secondry {
  flex-basis: 40%;
  min-width: 200px;
}

.headlines a {
  font-family: math;
  font-size: 1.5rem;
  text-decoration: none;
}

.headlines a h4 {
  color: var(--secondry);
}

.headlines a h4:hover {
  color: var(--primary);
}

.headlines img {
  width: 100%;
}

.headlines p {
  color: var(--primary);
  font-style: oblique;
}

.headlines img {
  border: 1px solid var(--color);
  border-radius: 8px;
  transition: all .2s;
}

.headlines img:hover {
  transform: scale(1.005);
}

.headline-primary img {
  max-height: 600px;
}

.headline-secondry img {
  max-height: 300px;
}

.latest-news-container {
  background-color: #fff;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.latest-news {
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 2rem .5rem;
}

.news {
  text-align: center;
  border: 2px solid var(--color);
  background-color: #f6f8fa;
  border-radius: 10px;
  width: 30%;
  min-width: 270px;
  height: fit-content;
  margin: .5rem;
  transition: transform .3s;
  overflow: hidden;
  transform: scale(.8);
}

.news:hover {
  box-shadow: 2px 2px 10px var(--color);
  transform: scale(.9);
}

.news img {
  width: 100%;
  max-height: 300px;
}

.news a {
  text-align: center;
  margin-top: 2rem;
  font-size: .65rem;
  font-style: oblique;
  text-decoration: none;
}

.trending-news {
  background-color: var(--color);
  text-align: center;
  width: 100%;
  padding: 1rem;
  overflow: hidden;
}

.trending {
  justify-content: space-around;
  gap: 2rem;
  display: flex;
  overflow-x: auto;
}

.trending-news h1, .heading h1 {
  color: var(--primary);
  font-style: oblique;
}

.heading {
  width: 60%;
  color: var(--primary);
  margin: .5rem 2rem;
}

.heading h1 {
  margin-bottom: 1rem;
}

.hr {
  background-color: var(--primary);
  flex-basis: 100%;
  align-items: baseline;
  height: 5px;
  margin-top: 1rem;
}

.trend a {
  font-size: .5rem;
  font-style: oblique;
}

.trend p {
  color: gray;
  font-style: oblique;
}

.trend:hover p {
  color: #6d394d;
}

.trend {
  border: .5px var(--primary) ridge;
  background-color: #f5f5f5;
  border-radius: 10px;
  gap: 2rem;
  min-width: 250px;
  max-width: 350px;
  transition: all .5s;
  overflow: hidden;
}

.trend:hover {
  background-color: var(--color);
  transform: scale(1.02);
}

.trend img {
  width: 100%;
}

.news p {
  color: var(--tertiary);
  font-style: oblique;
}

.news:hover p {
  color: var(--primary);
}

.news .details {
  text-align: right;
  padding: .4rem 1rem;
}

a:hover {
  color: var(--tertiary);
  text-decoration: underline;
}

@media (width <= 760px) {
  .headline-primary, .headline-secondry {
    flex-basis: 100%;
  }

  .search-container {
    flex-basis: 100%;
    margin-left: 2rem;
  }
}

@media (width <= 890px) {
  .news {
    width: 100%;
  }

  .logo {
    order: -2;
  }

  .lang {
    order: -1;
  }

  .main-container {
    position: relative;
    bottom: 0;
  }
}

@media (width <= 400px) {
  .lang {
    margin-left: 4rem;
  }
}

.contact-container {
  background-color: var(--primary);
  color: var(--color);
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
  display: flex;
}

.contact-container > div {
  gap: 1rem;
}

.heading-font {
  font-size: 3rem;
}

.icons {
  gap: 1rem;
  display: flex;
}

.icons i {
  font-size: 2rem;
}

footer {
  background-color: var(--primary);
  color: #fff;
  text-align: center;
}

.news h1, .latest-news-container h1 {
  text-align: center;
  color: var(--secondry);
  font-style: oblique;
}

.news h1:hover {
  color: var(--primary);
}

#lang {
  background-color: var(--tertiary);
  border-radius: 10px;
  padding: .5rem;
}

#lang:hover {
  background-color: var(--color);
}

#keyword {
  text-align: center;
  color: var(--secondry);
}

.d-flex {
  display: flex;
}

.justify-content {
  justify-content: space-around;
}

.m1 {
  margin: 1rem;
}
/*# sourceMappingURL=News-Laundry.9f367d21.css.map */
